<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/orgchart/dist/css/jquery.orgchart.css" />
	<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css">
<body>

<div ng-app="hlOrgChart">
    <div ng-controller="editCtrl">
        <div id="chart-container"></div>
        <div id="edit-panel">

            <label class="selected-node-group">selected node:</label>
            <input type="text" ng-model="node.name" id="selected-node" class="selected-node-group">
            <label>new node:</label>
            <ul id="new-nodelist">
                <!--<li><input type="text" class="new-node"></li>-->
                <li ng-repeat="nd in node.newNodeList"><input type="text" ng-model="nd.name" class="new-node"></li>

            </ul>
            <i class="fa fa-plus-circle btn-inputs" ng-click="addNewItem()" id="btn-add-input"></i>
            <i class="fa fa-minus-circle btn-inputs" ng-clic="removeItem()" id="btn-remove-input"></i>
    <span id="node-type-panel" class="radio-panel">
      <input type="radio" name="node-type" id="rd-parent" value="parent"><label for="rd-parent">Parent(root)</label>
      <input type="radio" name="node-type" id="rd-child" value="children"><label for="rd-child">Child</label>
      <input type="radio" name="node-type" id="rd-sibling" value="siblings"><label for="rd-sibling">Sibling</label>
    </span>
            <button type="button" id="btn-add-nodes">Add</button>
            <button type="button" id="btn-delete-nodes">Delete</button>
            <button type="button" id="btn-reset">Reset</button>
        </div>
    </div>

</div>

<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/html2canvas/build/html2canvas.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bower_components/orgchart/dist/js/jquery.orgchart.js"></script>

<!-- App files -->
<script src="app.js"></script>
<script type="text/javascript" src="../dist/angular-org-chart.js"></script>
<script src="editCtrl.js"></script>

</body>
</html>