.zoomButton {
    position: absolute;
    right: 9px;
    width: 40px;
    bottom: 15px;
    z-index: 10;
}
.zoomButton button{
    float: left;
    width: 100%;
    background: #fff;
    border: 0;
    font-size:22px;
    padding: 0;
    margin: 0;
    line-height: inherit;
    margin-bottom: 5px;
    border: solid 1px #a9a7a7;

}

.orgchart{ width: 100%;}

.editCtrl{ position: relative}
